<ion-view title="SignUp Failure" hide-back-button="true" hide-nav-bar="true" id="page10" style="">
  <ion-content padding="true" style="background: url(img/BQRjpdITjenNLQlJTcVE_MobileBG.png) no-repeat center;background-size:cover;" scroll="false" >
    <div class="bar bar-clear">
      <span class="logo">Ther App?</span>
    </div>
    <div class="spacer" style="width: 300px; height: 105px;"></div>
    <div class="card" style="background: transparent">
      <div class="item item-text-wrap" style="background: transparent;text-align: center;color:white;">
        Sign-Up was unsuccessful.Please Try Again!!!
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 205px;"></div>
    <a ui-sref="signup" id="signUpFailure-button12" class="button button-assertive  button-block">Back To Sign Up</a>
  </ion-content>
</ion-view>
